@import "bbcode.css";
body {
font-family: "arial";
font-size: 8pt;
background: #1f1f1f url(./pic/mainbg.png) repeat-x;
color: #FFF;
margin-top: 10px;
margin-bottom: 0px;
}
img{
border: 0; /* makes sure linked images do not have a border */
vertical-align: middle;
}
#logostrip{ 
background:transparent url(./pic/header_mindless.png) no-repeat ;
height: 200px;
margin: 0;
padding: 0;
}
#submenu{ 
border: 0px solid #FFF;
border-top: 0;
color: #3A4F6C; 
margin: 0;
height: 22px;
text-align: right;
}
.forumtable
{
width: 100%;
margin: 0;
padding: 0;
/*  font-family: Verdana, Arial, sans-serif; */
font-size: 8pt;
border: 0px solid #ccc;
border-collapse: collapse;
background-color: white;
}
#submenu a:link, 
#submenu  a:visited,
#submenu a:hover, 
#submenu a:active { 
background: #003977;
border : 1px solid #FFF; 
color: #FFF; 
padding: 1px 3px 2px 4px;
margin: 0px 1px 0px 2px;
text-decoration:none;
}
#submenu a:hover, 
#submenu a:active{
background: #EA5F00;
}
/*status bar style*/
#personlig {
width: 980px;
text-align: right;
color: #FFF;
}
#personlig a, a:visited {
text-decoration: none;
color: #FFF;
/*font-weight: bold;*/
}
#personlig a:hover {
color: #FFF;
}
#statusbar a, a:visited {
text-decoration: none;
color: #FFF;
/*font-weight: bold;*/
}
#statusbar a:hover {
color: #FFF;
}
#statusbar{ 
color: #FFF;
margin-top: 116px;
padding: 10px;
}
#statusbar p{
background: transparent !important;
border: 0 !important;
font-size: 10px;
font-weight: bold; 
letter-spacing: 1px;
text-align: right;
color: #FFF;
}
#statusbar p{
font-weight: normal;
letter-spacing: 0;
color: #FFF;
}
#statusbar p.home{
float: left;
color: #FFF;
}
/*status bar*/
table {
border-collapse: collapse;
border: none;
background-color: #1f1f1f; 
}
table.main, table.mainouter {
border:  none;
background-color: transparent;
}
table.bottom {
background: transparent;
}
h1 {
font-size: 12pt;
}
h2 {
font-size: 10pt;
margin-bottom: 6px;
}
h3 {
font-size: 11pt;
margin-bottom: 6px;
}
p {
font-size: 8pt;
}
p.sub { 
margin-bottom: 4pt;
}
td {
font-size: 8pt;
border: solid #000000 0px;
}
td.embedded {
border: none;
padding: 0px;
text-align: left;
}
td.bottom {
border: none;
}
td.heading {
font-weight: bold;
}
td.text {
padding: 10pt;
text-align: left;
background-color: transparent;
}
td.comment {
padding: 10pt;
font-size: 8pt;
text-align: left;
}
td.colhead {
height: 30px;
font-weight: bold;
color: #ffffff;
border: 1px solid #000;
background: #b70863;
}
td.rowhead {
font-weight: bold;
text-align: right;
vertical-align: top;
background-color: transparent;
}
td.title {
font-size: 14pt;
}
td.navigation {
font-weight: bold;
font-size: 10pt;
border: none;
}
td.clear {
padding: 0px;
border: 0px;
background: transparent;
}
form {
display: inline;
margin-top: 0;
margin-bottom: 0;
padding: 0;
}
.sublink {
font-style: italic;
font-size: 7pt;
font-weight: normal;
}

/*pagination links start*/
font.gray
{
color: #ACA899;
text-decoration: underline;
}
.pagelink,
.pagelinklast,
.pagecurrent,
.minipagecurrent,
.minipagelink,
.minipagelinklast{
background: #F0F5FA;
border: 1px solid #072A66;
padding: 1px 3px 1px 3px;
}
.pagelinklast,
.minipagelinklast{
background: #DFE6EF;
}
.pagecurrent{
background: #FFC9A5;
}
.minipagecurrent{
background: #F0F5FA;
font-size: 10px;
}
.minipagelink,
.minipagelinklast{
border: 1px solid #C2CFDF;
font-size: 10px;
margin: 0 1px 0 0;
}
.pagelink a:active,
.pagelink a:visited,
.pagelink a:link,
.pagelinklast a:active,
.pagelinklast a:visited,
.pagelinklast a:link,
.pagecurrent a:active,
.pagecurrent a:visited,
.pagecurrent a:link,
.minipagelink a:active,
.minipagelink a:visited,
.minipagelink a:link,
.minipagelinklast a:active,
.minipagelinklast a:visited,
.minipagelinklast a:link{
text-decoration: none;
}
/*pagination links end*/
a:link, a:visited {
text-decoration: none;
color: #FFF;
/*font-weight: bold;*/
}
a:hover {
color: #FFF;
}
a.index {
font-weight: bold;
}
a.biglink {
font-weight: bold;
font-size: 12pt;
}
a.altlink:link, a.altlink:visited{
font-weight: bold;
color: #FFF;
text-decoration: none;
}
a.altlink:hover {
text-decoration: underline;
}
a.altlink_blue:link, a.altlink_blue:visited{
font-weight: bold;
color: #FFF;
text-decoration: none;
}
a.altlink_blue:hover {
text-decoration: underline;
}
a.altlink_green:link, a.altlink_green:visited{
font-weight: bold;
color: #FFF;
text-decoration: none;
}
a.altlink_green:hover {
text-decoration: underline;
}
a.colheadlink:link, a.colheadlink:visited {
font-weight: bold;
color: #FFFFFF;
text-decoration: none;
}
a.colheadlink:hover {
text-decoration: underline;
}
.important {
font-weight: bold;
font-size: 8pt;
}
.red {
color: #ee0000;
}
.yellow {
color: #997700;
}
.green {
color: #000000;
}
input, select, textarea {
background: #FFF;
border: 1px solid #00326A;
color: #000;
font-family: arial, helvetica, sans-serif;
font-size: 11px;
margin: 5px;
padding: 2px;
vertical-align: middle;
}
input:focus { 
background-color: #FFFF99; 
}
textarea:focus {
background-color: #FFFF99; 
}
select
{
margin: 0px;
}
.btn
{
font-size:12px;
font-family:arial,sans-serif;
/* font-weight:bold; */
color:#FFF;
background-color:#890537;
border: 1px solid #000;
border-width:1px;
padding: 1px 3px 1px 3px;
}
.small {
font-size: 7pt;
}
.big {
font-size: 10pt;
}
li {
margin-top: 6pt;
margin-bottom: 6pt;
}
ul {
margin-left: 16pt;
margin-top: 0px;
margin-bottom: 0px;
}
/*Cpatcha/pin stuff*/
.cimage 
{ 
border: 1px solid #eee; 
}

p#statusgreen 
{ 
font-size: 1.2em; background-color: #fff; color: #0a0; 
}
p#statusred 
{ 
font-size: 1.2em; background-color: #fff; color: #a00; 
}
.tag_cloud
{
padding: 3px; text-decoration: none;
font-family: arial;     
}
.tag_cloud:link  { color: #0099FF; text-decoration:none;
}
.tag_cloud:visited { color: #00CCFF; 
}
.tag_cloud:hover { color: #0000FF; background: #00CCFF; 
}
.tag_cloud:active { color: #0000FF; background: #FFFFFF; 
}
.forumrules_title
{
background-color: #7192b2;
font-size: 14px;
color: #fff;
padding: 7px;
margin-bottom: 4px;
}
.forumrules_border
{
border:1px solid #e2e2e0;
padding:4px;
}
.forumrules_text_border
{
border:1px solid #e2e2e0;
padding:4px;
}
.forumrules_text
{
background-color: #FFFF99;
font-size: 14px;
color: #000;
}
.popupmenu
{
background: #C2CFDF;
color: #3A4F6C;
border: 1px solid #3A4F6C;
text-align:left;
font-size:11px;
font-weight:bold;
white-space:nowrap;
/*padding:3px 5px 3px 3px;*/
/* width:120px; */
}
.popupmenu-item
{
padding: 5px;
/*margin-top:4px;*/
white-space: nowrap;
border-bottom: 1px solid #C2CFDF;
color:  #000000;
font-weight: normal;
}
.popupmenu-item-last
{
padding: 5px;
/*margin-top:4px;*/
white-space: nowrap;
color:  #000000;
font-weight: normal;
}
.popupmenubutton
{
background: #C2CFDF;
color: #3A4F6C;
border: 1px solid #3A4F6C;
text-align:center;
font-size:11px;
font-weight:bold;
white-space:nowrap;
/*padding:3px 5px 3px 3px;*/
height:18px;
width:120px;
}
.popupmenu-item a:link, 
.popupmenu-item a:visited,
.popupmenu-item-last a:link, 
.popupmenu-item-last a:visited
{ 
color: #000; 
text-decoration: none;
}
.popupmenu-item a:hover, 
.popupmenu-item-last a:hover
{ 
color: #EA5F00; 
text-decoration: none;
}
.tbi
{
vertical-align:middle;
border:0px;
padding:0px;
margin:0px;
float:none;
}
.menusep
{
white-space: nowrap;  /* stop menu collapsing in IE */
padding-top:4px;
padding-bottom:3px;
border-bottom:1px solid #DDD;
}
.menuseplast
{
white-space: nowrap; /* stop menu collapsing in IE */
padding-top:4px;
padding-bottom:3px;
color: #000;
}
.menusep a:link, 
.menusep a:visited, 
.menusep a:active,
.menuseplast a:link, 
.menuseplast a:visited, 
.menuseplast a:active
{
text-decoration:none;
font-weight:bold;
color: #000000;
}
#statindex {
border:0px; width:900px; height:30px; background-color:transparent; text-align:center; font-weight:bold; color:#FFF;
}
.roundedCorners {
border: 1px solid #000;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}
.balloonstyle{
position:absolute;
top: -500px;
left: 0;
padding: 5px;
visibility: hidden;
border:1px solid #EAFF08;
font:normal 12px arial;
color: #FF6600;
line-height: 18px;
z-index: 100;
background-color: #FFFFD4;
width: 400px;
}
#arrowhead{
z-index: 99;
position:absolute;
top: -500px;
left: 0;
visibility: hidden;
}
a.info{
position:relative; /*this is the key*/
z-index:24; /*background-color:#ccc;*/
color:#000;
text-decoration:none}
a.info:hover{z-index:25; background-color:#ff0}
a.info span{display: none}
a.info:hover span{ /*the span will display just on :hover state*/
display:block;
position:absolute;
top:2em; left:2em; width:15em;
border:1px solid #0cf;
background-color:#cff; color:#000;
text-align: center}
td.clearalt6 {
background: #004E98;
padding: 5px;
border: 0px;
border: hidden;}
td.clearalt7 {
padding: 5px;
background: #777777;
border: 0px;
border: hidden;}
.codetop {
background: #0099FF url(./pic/code.jpg) no-repeat right;
color: #000;
font-weight: bold;
margin: 0 auto 0 auto;
padding: 3px;
border: 1px solid #000;
width:500px;
}
.codemain {
background: #FFF;
border: 1px solid #000;
color: #000;
margin: 0 auto 0 auto;
padding: 3px;
width:500px;
overflow:auto;
height:150px;
}
.newshold {
border: 1px solid #000;	-moz-border-radius: 6px; -webkit-border-radius: 6px;
background-color: transparent; width:980px; padding:10px;
text-align: left; }
.headindex {
border: 1px solid #000;	-moz-border-radius: 6px; -webkit-border-radius: 6px;
background-color:#890537; width:985px; height:30px; padding-left:15px; line-height:28px;
color: #cdcdcd; font-size:12px; font-weight:bold; font-family:Tahoma, "Trebuchet MS";
text-align:left;}
.staffholder {
width:1000px;
}
.st1 {
width: 200px; height: 25px;
text-align: right; font-weight: bold;
padding-right: 10px;
border-right: 1px solid #000;
}
.st2 {
width: 700px; height: 25px;
text-align: left;
padding-left: 10px;
}
/* fancy tooltip */
span.tool {
position: relative;   /* this is key */
cursor: help;
}
span.tool span.tip {
white-space: nowrap;
display: none;        /* so is this */
}
/* tooltip will display on :hover event */
span.tool:hover span.tip {
display: block;
z-index: 100;
position: absolute;
top: 1.6em;
left: 0;
width: auto;
padding: 3px 7px 4px 6px;
border: 1px solid #336;
background-color: #f7f7ee;
font: normal 1.2em/1.2em tahoma, helvetica, sans-serif;
text-align: left;
color: #000;
}
#content span.tool::after {
padding-left: 2px;            /* eye candy */
content: url(pic/bubble.gif);
}
.tbdev_forum{
background: #890537;
}
.tbdev_forum1{
background: #890537;
}
/*Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.2.2
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}*/
/*#iconbar			{ position:absolute; top:15%; left:8%;}*/
#iconbar			
{ 
position:absolute; margin-top: 80px; padding-left: 50px;
}
#iconbar li			
{
float:left;
position:relative;
margin-right:10px;
overflow:hidden;
font-family: "arial";
}
#iconbar a {
font-family: "arial";
text-decoration: none;
outline: none;
color:#1f1f1f;
display: block;
width: 58px;
padding: 5px;
cursor:pointer;
}
#iconbar span	{
font-family: "arial";
width: 58px;
height: 38px;
position: absolute;
display: none;
color:#1f1f1f;
font-size: 8px;
line-height: 8px;
font-weight: bold;
padding-left: 2px;
padding-top: 10px;
}
.newshold {
border: 1px solid #000;	-moz-border-radius: 6px; -webkit-border-radius: 6px;
background-color: transparent; width:980px; padding:10px;
text-align: left; }
.headindex {
border: 1px solid #000;	-moz-border-radius: 6px; -webkit-border-radius: 6px;
background-color:#890537; width:985px; height:30px; padding-left:15px; line-height:28px;
color: #cdcdcd; font-size:12px; font-weight:bold; font-family:Tahoma, "Trebuchet MS";
text-align:left;}
#headindex2 {
border: 1px solid #000;	-moz-border-radius: 6px; -webkit-border-radius: 6px;
background-color:#890537; width:985px; height:30px; padding-left:15px; line-height:28px;
color: #cdcdcd; font-size:12px; font-weight:bold; font-family:Tahoma, "Trebuchet MS";
text-align:left;}
#statindex {
border:0px; width:900px; height:30px; background-color:#1f1f1f; text-align:center; font-weight:bold; color:#FFF;
}
#newshold1 {
border: 1px solid #000;	-moz-border-radius: 6px; -webkit-border-radius: 6px;
background-color: transparent; width:980px; padding:10px;
text-align: left; }
#headindex1 {
border: 1px solid #000;	-moz-border-radius: 6px; -webkit-border-radius: 6px;
background-color:#890537; width:985px; height:30px; padding-left:15px; line-height:28px;
color: #cdcdcd; font-size:12px; font-weight:bold; font-family:Tahoma, "Trebuchet MS";
text-align:left;}
.headlineindex {
font-size:12px; font-weight:bold; font-family:Tahoma, "Trebuchet MS"; text-align:left; padding-left:10px; width:990px; height:21px;  }
.headlineindex1 {
font-size:12px; font-weight:bold; font-family:Tahoma, "Trebuchet MS"; text-align:left; padding-left:10px; width:990px; height:21px;  }
.details-header {
background-color: #b70863;
height: 30px; width: 1000px;
border: 1px solid #000;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
color: #FFF; text-align: center;
padding-bottom: 10px;
}
.upload-header {
background-color: #b70863;
height: 30px; width: 1000px;
border: 1px solid #000;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
color: #FFF; text-align: center;
font-weight: bolder; font-size: 14px;
padding-top: 9px;
}
#rollover{
display: inline-table;
width: 55px;
height: 20px;
line-height:20px;
background: url(pic/button.png) no-repeat 0 0;
background-repeat: no-repeat;
background-position: left top;
text-align: center;
}
#rollover:hover {
background-position: 0 -20px;
}
#rollover span {
display: none;
}

.pagination{
padding:3px;
margin:3px;
text-align:center;
}
.pagination ul{
margin: 0;
padding: 0;
text-align: right; /*Set to "right" to right align pagination interface*/
font-size: 10px;
}
.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}
.pagination a, .pagination a:visited{
padding: 0 2px;
border: 1px solid #9aafe5;
text-decoration: none;
color: #2e6ab1;
}
.pagination a:hover, .pagination a:active{
border: 1px solid #2b66a5;
color: #000;
background-color: #30C636;
}
.pagination a.currentpage{
background-color: #2e6ab1;
color: #FFF !important;
border-color: #2b66a5;
font-weight: bold;
cursor: default;
}
.pagination a.disablelink, .pagination a.disablelink:hover{
background-color: white;
cursor: default;
color: #929292;
border-color: #929292;
font-weight: normal !important;
}
.pagination a.prevnext{
font-weight: bold;
}
.highlight {
  background-color:#CCFF9D;
}

.highlight a:hover, .highlight a:active {
  color:#000000;
  background-color:#fd9e09;
}
a.altlink_white:link, a.altlink_white:visited{
font-weight: bold;
color: #FFF;
text-decoration: none;
}
a.altlink_white:hover {
  text-decoration: underline;
}

th.colhead {
border:1px;
background-color:#004E98;
font-weight:bold;
color:#FFF;
}
.captchaImage {margin:0 2px;}
.captchaImages { margin: 5px auto;width:350px;text-align:center;}
.simpleCaptchaSelected { border: 2px solid #999;
-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#middle {
margin-top: auto;
margin-right: auto;
margin-bottom: auto;
margin-left: auto;
background-image: url(pic/evilreels.png);
background-repeat: no-repeat;
background-position: center;
width: auto;
}
#marqueecontainer{
position: relative;
width: 99%; /*marquee width - adjust to your design */
height: 120px; /*marquee height */
background-color:lightyellow;
color:black;
overflow: hidden;
border: 1px solid blue;
padding: 2px;
padding-left: 4px;
text-align:left;
}

#marqueecontainer img {
border-width:2px;
border-style:solid;
}
td.normal {
background: #990000;
}
td.normalrowhead {
font-weight: bold;
text-align: right;
background: #990000;
}
.listitem {
margin-left:10px;
margin-right:3px;
}